html {
    scroll-behavior: smooth; 
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    color: #101010; 
    background-color: #F0F0F0;
}

section {
    margin-bottom: calc(100px + (150 - 100) * ((100vw - 375px) / (1280 - 375)));
    padding: 0 calc(38px + (108 - 38) * ((100vw - 375px) / (1280 - 375)));;

}

.about {
    background-image: url(./img/window-business-building.png);
    background-size: 110%;   
    height: 840px;    
    background-repeat: no-repeat; 
} 

.about img {
    margin-top: calc(45px + (67 - 45) * ((100vw - 375px) / (1280 - 375)));
}

.navigation {
    float: right; 
    margin-top: 15px;  
}

.ellipse {
    width: 6px;
    height: 6px;
    margin-left: 14px; 
    margin-right: 14px;
}

.exhibition, .schedule, .contacts {
    background: none;
    color: white; 
    border: none;
    font-size: 18px;
    line-height: 121%; 
}

.exhibition:hover {
    color: #EB177E;
    border-bottom: 1px solid #EB177E; 
    cursor: pointer;
}

.exhibition:active {
    color: #EB177E;
    border-bottom: none; 
    font-weight: 600; 
}

.schedule:hover {
    color: #EB177E;
    border-bottom: 1px solid #EB177E; 
    cursor: pointer;
}

.schedule:active {
    color: #EB177E;
    border-bottom: none; 
    font-weight: 600; 
}

.contacts:hover {
    color: #EB177E;
    border-bottom: 1px solid #EB177E; 
    cursor: pointer;
}

.contacts:active {
    color: #EB177E;
    border-bottom: none; 
    font-weight: 600; 
}

.entry {
    background: #EB177E;
    color: white; 
    border: none;
    font-size: 13px;
    line-height: 121%;  
    width: 147px;
    height: 36.48px;
    margin-left: 25px; 
}

.entry:hover {
    background: white;
    color: #EB177E; 
    cursor: pointer;
}

.entry:active {
    background: #EB177E;
    color: white; 
    cursor: pointer;
    opacity: 51%; 
}

.navigation {
    float: right; 
    margin-top: 15px;  
}

.burger-menu {
    display: none; 
    top: 100px;
    right: 10;
    background: rgba(0, 0, 0, 0.8); 
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0; 
    z-index: 1000; 
}

.burger-menu.show {
    display: block; 
    opacity: 1; 
}

.burger-menu button {
    flex: 1 1 calc(50% - 10px); 
    margin: 5px; 
    box-sizing: border-box; 
}

.ellipse {
    width: 6px;
    height: 6px;
    margin-left: 14px; 
    margin-right: 14px;
}

#Burger {
    display: none;
}

#Burger:active {
    background-color: #0000004F;
    backdrop-filter: blur(9.275362014770508px);
    padding: 2px; 
    border-radius: 2px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    margin-top: 64px;
}

.date {
    font-size: calc(20px + (28 - 20) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 122%;
    color: white; 
    background-color: #0000004F;
    backdrop-filter: blur(9.275362014770508px);
    width: auto;
    height: 55px;
    align-content: center; 
    padding-left: 25px;  
    padding-right: 25px;  
} 

.about h1 {
    font-family: 'Futura PT';
    font-size: calc(40px + (70 - 40) * ((100vw - 375px) / (1280 - 375)));
    width: calc(311px + (819 - 311) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 106%;
    text-align: center;
    color: white; 
    margin-top: calc(32px + (24 - 32) * ((100vw - 375px) / (1280 - 375)));
}

.adress {
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 121%;
    color: white; 
    background-color: #0000004F;
    backdrop-filter: blur(9.275362014770508px);
    width: auto; 
    height: 55px;
    align-content: center; 
    padding-left: 25px;
    padding-right: 25px;  
    margin-top: 34px; 
}

.aboutContainer .entry {
    font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (1280 - 375)));
    line-height: 121%;  
    width: calc(220px + (270 - 220) * ((100vw - 375px) / (1280 - 375)));
    height: calc(50px + (67 - 50) * ((100vw - 375px) / (1280 - 375)));
    margin-top: calc(60px + (65 - 60) * ((100vw - 375px) / (1280 - 375)));
}

.aboutContainer span {
    font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: 121%; 
    text-align: center;
    color: white; 
    margin-top: calc(9px + (17 - 9) * ((100vw - 375px) / (1280 - 375)));
    width: calc(158px + (394 - 158) * ((100vw - 375px) / (1280 - 375)));
}

.digit {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.digits span {
    font-family: 'Futura PT';
    font-size: 70px;
    font-weight: 500;
    line-height: 128%; 
    color: #282828;
} 

.digits p {
    font-size: 30px;
    line-height: 121%;
    color: #1010108F; 
    text-transform: uppercase; 
}

#rectangleMobile {
    display: none; 
}

.details h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 106%;
    text-align: center; 
    width: calc(312px + (727 - 312) * ((100vw - 375px) / (1280 - 375)));
    margin: 0 auto; 

}

.detailsContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto); 
    gap: 25px;   
    margin-top: calc(57px + (100 - 57) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(62px + (118 - 62) * ((100vw - 375px) / (1280 - 375)));
}

.detailsContainer img {
    width: calc(300px + (602 - 300) * ((100vw - 375px) / (1280 - 375)));
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
}

.detailsContainer span {
    font-size: calc(17px + (15 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: 133%;
    text-align: center;
    align-items: center; 
    background: #FFFFFF;   
    padding: 30px 36px;    
    display: block; 
    border-radius: 17.54px; 
}

.detailsBorder {
    padding: 2.63px; 
    border-radius: 17.54px;  
    background: linear-gradient(136.96deg, #EB177E 0%, #893EF9 103.66%);   
}

.detailsBorder:first-child {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.detailsBorder:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.detailsBorder:last-child {
    grid-column: 1 / 3;
    grid-row: 3 / 4; 
}

.detailsSlider {
    display: none;
}


.swiper {
    width: 582px;
    height: 388px;  
    position: relative;
    overflow: visible; 
  } 

.swiper img {
    width: 100%; 
    height: auto;  
  } 

.custom-button-prev, .custom-button-next {
    background-color: transparent;
    border: none;
    cursor: pointer; 
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
    z-index: 10; 
  }
  
.custom-button-prev {
    left: 10px;
  }
  
.custom-button-next {
    right: 10px;
  }

  .custom-button-next:hover {
    content: url(./img/next_hover.png); 
    width: 44px; 
  }

.benefit {
    background-image: url(./img/background_dekstop.svg);
    background-repeat: no-repeat;
    height: 1225.5px; 
}

.benefit h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    font-weight: 400;
    text-align: center; 
    text-transform: uppercase;
    color: white; 
    padding-top: calc(98px + (211 - 98) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(59px + (111 - 59) * ((100vw - 375px) / (1280 - 375)));
}

.benefitContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto); 
    gap: 81px 36px; 

}

.benefitsBorder:last-child {
    grid-column: 1 / 3;
    grid-row: 2 / 3; 
    width: auto;
}

.benefitsBorder {
    padding: 2.63px; 
    border-radius: 17.54px;  
    background: linear-gradient(136.96deg, #EB177E 0%, #893EF9 103.66%);
    width: 556px; 
}

.benefits {
    color: white; 
    border: 2.63px solid #282828;
    border-radius: 17.54px;
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 114%;
    text-align: center;
    padding: 55px 44px; 
    position: relative;
    background-color: #282828;    
}  

#Corner1 {
    width: calc(58px + (100 - 58) * ((100vw - 375px) / (1280 - 375)));
    position: absolute;
    top: -40px;
    left: 220px; 
}

#Corner2 {
    width: calc(68px + (116 - 68) * ((100vw - 375px) / (1280 - 375)));
    position: absolute;
    top: -40px;
    left: 220px; 
}

#Corner3 {
    width: calc(68px + (116 - 68) * ((100vw - 375px) / (1280 - 375)));
    position: absolute;
    top: -40px;
    left: 510px; 
}

.benefits span {
 font-weight: 700; 
}

.benefits p {
    margin-top: calc(27px + (34 - 27) * ((100vw - 375px) / (1280 - 375)));
}

.benefitsBorder:nth-child(1) p {
    margin-top: calc(27px + (44 - 27) * ((100vw - 375px) / (1280 - 375)));
}

.benefitsBorder:first-child {
    height: 300px;
    }

.audience h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    font-weight: 500;
    text-align: center; 
    text-transform: uppercase;
    margin-bottom: calc(35px + (94 - 35) * ((100vw - 375px) / (1280 - 375)));
}

.audienceContainer {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 

}

.audiences {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    text-align: center; 
} 

.audiences img {
    width: calc(85px + (120 - 85) * ((100vw - 375px) / (1280 - 375)));
    align-items: center; 
}

.audiences span {
    font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (1280 - 375)));
    line-height: 114%;
    margin-top: 21px; 

}

.partners {
    background-image: url(./img/atlantis_the_royal.png);
    background-color: rgba(0, 0, 0, 0.5); 
    background-repeat: no-repeat;
    height: 759px;
    color: white; 
    text-align: center; 
}

.partners h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: calc(57px + (105 - 57) * ((100vw - 375px) / (1280 - 375)));
    padding-top: calc(71px + (122 - 71) * ((100vw - 375px) / (1280 - 375)));
}

.partners span {
    font-family: Futura PT;
    font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 106%;
    margin-bottom: calc(33px + (53 - 33) * ((100vw - 375px) / (1280 - 375)));
    display: block; 
}

.partners p {
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 114%;
}

.partersText {
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 114%;
    margin-top: 20px; 
}

.dates {
    text-align: center;
}

.dates h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: calc(33px + (74 - 33) * ((100vw - 375px) / (1280 - 375)));
}

.days {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;  
    gap: 24px; 
    margin-bottom: calc(47px + (54 - 47) * ((100vw - 375px) / (1280 - 375))); 
}

.day {
    font-size: calc(14px + (24 - 14) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 121%;
    color: white; 
    background: linear-gradient(136.96deg, #EB177E 0%, #893EF9 103.66%); 
    padding: 10px 20px; 
}

.registrationBorder {
    padding: 2px; 
    border-radius: 20px;  
    background: linear-gradient(136.96deg, #EB177E 0%, #893EF9 103.66%);
    margin: auto calc(7px + (168 - 7) * ((100vw - 375px) / (1280 - 375))); 

} 
.registration {
    background-color: #282828; 
    border-radius: 20px;  
    color: #FFFFFF; 
    padding-top: 50px; 
    padding-bottom: calc(55px + (72 - 55) * ((100vw - 375px) / (1280 - 375)));
    padding-left: calc(48px + (72 - 48) * ((100vw - 375px) / (1280 - 375)));  
    padding-right: calc(48px + (72 - 48) * ((100vw - 375px) / (1280 - 375)));
}

.registration span {
    font-family: 'Futura PT';
    font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 106%; 
    margin-bottom: 24px;
    display: block;
}

.registration p {
    font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: 114%;
}

.registration form {
    margin-top: calc(37px + (55 - 37) * ((100vw - 375px) / (1280 - 375)));
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto); 
    gap: 38px 35px; 
}

.error {
    color:rgba(255, 21, 35, 0.6);
    font-family: Montserrat;
    font-size: 10px; 
    font-weight: 500;
    line-height: 124%;
    margin-left: auto; 
    margin-top: 6px; 
    display: none; 

}

.formName, .formSurname, .formPhone, .formEmail {
    display: flex;
    flex-direction: column;   
}

input {
    background-color: #282828; 
    border: none; 
    border-bottom: 1px solid rgba(229, 229, 229, 0.6); 
    padding: 6.5px; 
    color: white; 
}

input:focus {
    outline: none; 
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.singin {
    background: #EB177E;
    color: white; 
    border: none;
    font-size: calc(12px + (24 - 12) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
    line-height: 121%;
    padding: calc(11px + (19 - 11) * ((100vw - 375px) / (1280 - 375))) calc(21px + (37 - 21) * ((100vw - 375px) / (1280 - 375)));
    margin-top: 52px;

}

.singin:hover {
    background: white;
    color: #EB177E; 
    cursor: pointer;
}

.singin:active {
    background: #EB177E;
    color: white; 
    cursor: pointer;
    opacity: 51%; 
}
 
.popUp {
    background-color: #282828; 
    border-radius: 20px;  
    color: #FFFFFF; 
    background-image: url(./img/checked.png);
    background-repeat: no-repeat; 
    background-position: center; 
    padding-top: 50px; 
    padding-bottom: calc(55px + (72 - 55) * ((100vw - 375px) / (1280 - 375)));
    padding-left: calc(48px + (72 - 48) * ((100vw - 375px) / (1280 - 375)));  
    padding-right: calc(48px + (72 - 48) * ((100vw - 375px) / (1280 - 375)));
    width: 600px;
    height: 240px;
    
    display: none; 
}

.popUp h3 {
    font-family: 'Futura PT';
    font-size: calc(25px + (60 - 25) * ((100vw - 375px) / (1280 - 375))); 
    font-weight: 500;
    line-height: 106%; 
    padding: 50px 30px;   
}

.popUp img {
    float: right;
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
    text-align: center; 
}

.map h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: calc(38px + (53 - 38) * ((100vw - 375px) / (1280 - 375)));
    position: relative;
    z-index: 1;
}

#lineMap {
    width: calc(240px + (390 - 240) * ((100vw - 375px) / (1280 - 375)));
    position: absolute;
    top: calc(22px + (40 - 22) * ((100vw - 375px) / (1280 - 375)));
    left: calc(65px + (440 - 65) * ((100vw - 375px) / (1280 - 375)));
    z-index: 0; 
}

.map .day {
    width: calc(310px + (525 - 310) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: 58px;
    margin-left: calc(30px + (260 - 30) * ((100vw - 375px) / (1280 - 375)));
}

#mapPic {
    width: calc(315px + (860 - 315) * ((100vw - 375px) / (1280 - 375)));
    margin-left: calc(30px + (100 - 30) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(66px + (98 - 66) * ((100vw - 375px) / (1280 - 375)));
}

.mapContainer {
    display: flex;
    flex-direction: column; 
    background-color: rgba(234, 234, 234, 1);
    border: 2px solid rgba(0, 0, 0, 0.2); 
    border-radius: 20px; 
    padding: calc(20px + (54 - 20) * ((100vw - 375px) / (1280 - 375))) calc(20px + (91 - 20) * ((100vw - 375px) / (1280 - 375)));
    width: calc(270px + (700 - 270) * ((100vw - 375px) / (1280 - 375)));
    margin-left: calc(30px + (100 - 30) * ((100vw - 375px) / (1280 - 375)));
}

.mapContainer span {
    font-family: Futura PT;
    font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    margin-bottom: calc(16px + (24 - 16) * ((100vw - 375px) / (1280 - 375)));
    margin-top: 43px;
}

.mapContainer p {
    font-family: Montserrat;
    font-size: calc(16px + (16 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 131%;
}

.lastOffer {
    text-align: center;
}

.lastOffer h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: calc(40px + (85 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.lastOfferContainer {
    background-color: rgba(40, 40, 40, 1);
    border-radius: 20px; 
    background-image: url(./img/key_one_realty_dekstop.png);
    background-position: right; 
    background-repeat: no-repeat; 
    text-align: left; 
    padding-top: calc(51px + (157 - 51) * ((100vw - 375px) / (1280 - 375)));
    padding-left: calc(25px + (70 - 25) * ((100vw - 375px) / (1280 - 375))); 
    height: 420px;

}

.lastOfferContainer span {
    font-family: Futura PT;
    font-size: calc(28px + (50 - 28) * ((100vw - 375px) / (1280 - 375)));
    line-height: 112%;
    color: white; 
    display: block; 
}
.lastOfferContainer span:nth-child(2) {
    font-weight: 300; 
}

.newOffer {
    background: #EB177E;
    color: white; 
    border: none;
    font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (1280 - 375)));
    line-height: 121%;  
    padding: 15px 35px; 
    margin-top: calc(217px + (38 - 217) * ((100vw - 375px) / (1280 - 375)));
}

.newOffer:hover {
    background: white;
    color: #EB177E; 
    cursor: pointer;
}

.newOffer:active {
    background: #EB177E;
    color: white; 
    cursor: pointer;
    opacity: 51%; 
}

.informations {
    background-color: rgba(229, 229, 229, 0.56);
    text-align: center;
    margin-bottom: 0;
    padding-top: 43px; 
    padding-bottom: 42px; 
} 

.information {
    font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: 121%;
    margin-bottom: calc(16px + (25 - 16) * ((100vw - 375px) / (1280 - 375)));
}

#logoDark {
    margin-bottom: 45px;
} 

.information span {
    margin-left: 20px;
}

#lastInformation {
    margin-top:calc(37px + (43 - 37) * ((100vw - 375px) / (1280 - 375)));
}



.formName, .formSurname, .formEmail, .formPhone {
    position: relative; 
}

input {
    width: 100%;
    padding-right: 30px; 
    background-color: #282828;
    border: none;
    border-bottom: 1px solid rgba(229, 229, 229, 0.6); 
    padding: 6.5px;
    color: white;
}

input:focus {
    outline: none;
}

input.errorInput {
    border-bottom: 1px solid red;
    color: red;
}

input.validInput {
    border-bottom: 1px solid green; 
    color: green;
}

.icon-status {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    display: none; 
}

.errorInput + .icon-status {
    color: red;
    display: inline-block;
}

.validInput + .icon-status {
    color: green;
    display: inline-block;
}

.errorInput + .icon-status::before {
    content: url(./img/false.png); 
}

.validInput + .icon-status::before {
    content: url(./img/right.png); 
} 

#themeToggle {
    background: black;
    color: white; 
    border: none;
    font-size: 13px;
    line-height: 121%;  
    width: 147px;
    height: 36.48px;
    margin-left: 15px; 
}

#themeToggle:hover {
    background: white;
    color: black; 
    cursor: pointer;
}

#themeToggle:active {
    background: rgb(110, 108, 108);
    color: white; 
    cursor: pointer;
    opacity: 51%; 
}

body.night-mode {
    background-color: rgba(16, 16, 16, 1); 
    color: #FFFFFF; 
}

body.night-mode h1,
body.night-mode h2,
body.night-mode h3,
body.night-mode p,
body.night-mode a,
body.night-mode span {
    color: #FFFFFF; 
}

body.night-mode .digits p {
    color: rgba(255, 255, 255, 0.58); 
}

body.night-mode .container {
    background-color: rgba(16, 16, 16, 1); 
}

body.night-mode .text {
    color: #FFFFFF; 
}

body.night-mode .box {
    background-color: rgba(255, 255, 255, 0.58); 
}

body.night-mode .detailsContainer span {
    background-color: rgba(40, 40, 40, 1); 
}

body.night-mode .benefit {
    background-image: none; 
}

body.night-mode .mapContainer {
    background-color: rgba(40, 40, 40, 1); 
}

body.night-mode .background {
    background-color: #FFFFFF; 
}

body.night-mode .text-alt {
    color: #282828; 
}

body.night-mode .shadow {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 1); 
}

body.night-mode .background-light {
    background-color: rgba(40, 40, 40, 1); 
}

body.night-mode .shadow-light {
    box-shadow: 0 4px 6px rgba(77, 77, 77, 0.56); 
}


section.benefit,
section.partners {
    background-color: initial; 
}


@media (max-width: 400px) {

    .aboutContainer {
        display: block;
        align-content: center;
        text-align: center;
        align-items: center; 
        margin-top: 45px; 
    }

    .navigation {
        display: none; 
    }

    .aboutContainer span {
        display: block; 
        text-align: center;
        margin-left: 70px; 
    }

    .entry {
        margin-left: 0;
    }

    .about {
        background-image: url(./img/window-business-building-dekstop.png);
        background-size: 100%;   
        background-repeat: no-repeat; 
        width: auto; 
    } 

    .digit {
        flex-direction: column; 
        flex-wrap: nowrap;
        justify-content: center; 
    }

    #rectangleDekstop {
        display: none;
    }

    #rectangleMobile {
        display: inline; 
        margin-top: 40px;
        margin-bottom: 40px; 
    }

    .navigation {
        display: none; 
    }
    
    #Burger {
        display: inline; 
        cursor: pointer;
        float: right; 
    }
    
    .burger-menu {
        display: none; 
    }

    .burger-menu.show {
        display: block; 
        opacity: 1;  
    }

    .detailsContainer {
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .detailsContainer img {
        order: 3;
        margin-top: 15px; 

    }

    .swiper {
        width: 312px;
        height: 200px;  
      } 

      .custom-button-prev, .custom-button-next {
        top: 90%; 
      }

      .custom-button-prev {
        left: 106px;
      }
      
      .custom-button-next {
        right: 106px; 
      }

      .benefitContainer {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        gap: 52px;
    
    }

    .benefit {
        background-image: url(./img/background_mobile.svg);
        background-repeat: no-repeat;
        height: 1130px;  
    }

    .benefitsBorder {
        width: auto; 
    }
    
    .benefitsBorder:first-child {
        height: auto; 
    }

    .benefits {
        padding: 36px 12px;
    }

    #Corner1, #Corner2, #Corner3 {
        top: -25px;
        left: 110px; 
    }
    .audienceContainer {
        justify-content: center;  
        gap: 36px;
    }

    .partners {
        height: 625px; 
        background-position: 50%; 
    }

    .registration form {
        display: flex;
        flex-direction: column; 
        gap: 40px; 
    }


    .popUp {
        width: 185px;
        height: auto;
        background-size: 30%; 
    }

    .popUp h3 {
        padding: 30px 10px;   
    }
    
    .popUp img {
        width: 20px;  
    }
    
    .map {
        padding-left: 0;
        margin-left: 0; 
    }

    .map .day {
        padding-left: 0;
        padding-right: 0; 
    }

    .map h2 {
        margin-left: 28px;
    }

    .lastOfferContainer {
        background-color: rgba(40, 40, 40, 1);
        border-radius: 20px; 
        background-image: url(./img/key_one_realty_mobile.png);
        background-position: center;  
        background-repeat: no-repeat; 
        text-align: center; 
        padding-left: 0;
        height: 482px; 
    }

    .newOffer {
        width: 239px; 
    }

    .information span {
        display: block;
        margin-top: calc(16px + (25 - 16) * ((100vw - 375px) / (1280 - 375)));
    }


}
