* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    color: #101010; 
    background-color: #F0F0F0;
}

section {
    margin-bottom: calc(100px + (150 - 100) * ((100vw - 375px) / (1280 - 375)));
    padding: 0 calc(38px + (108 - 38) * ((100vw - 375px) / (1280 - 375)));;

}

.about {
    background-image: url(./img/window-business-building.png);
    background-size: 110%;   
    height: 840px;    
    background-repeat: no-repeat; 
} 

.about img {
    margin-top: calc(45px + (67 - 45) * ((100vw - 375px) / (1280 - 375)));
}

.navigation {
    float: right; 
    margin-top: 15px;  
}

.ellipse {
    width: 6px;
    height: 6px;
    margin-left: 14px; 
    margin-right: 14px;
}

.exhibition, .schedule, .contacts {
    background: none;
    color: white; 
    border: none;
    font-size: 18px;
    line-height: 121%; 
}

.exhibition:hover {
    color: #EB177E;
    border-bottom: 1px solid #EB177E; 
    cursor: pointer;
}

.exhibition:active {
    color: #EB177E;
    border-bottom: none; 
    font-weight: 600; 
}

.schedule:hover {
    color: #EB177E;
    border-bottom: 1px solid #EB177E; 
    cursor: pointer;
}

.schedule:active {
    color: #EB177E;
    border-bottom: none; 
    font-weight: 600; 
}

.contacts:hover {
    color: #EB177E;
    border-bottom: 1px solid #EB177E; 
    cursor: pointer;
}

.contacts:active {
    color: #EB177E;
    border-bottom: none; 
    font-weight: 600; 
}

.entry {
    background: #EB177E;
    color: white; 
    border: none;
    font-size: 13px;
    line-height: 121%;  
    width: 147px;
    height: 36.48px;
    margin-left: 25px; 
}

.entry:hover {
    background: white;
    color: #EB177E; 
    cursor: pointer;
}

.entry:active {
    background: #EB177E;
    color: white; 
    cursor: pointer;
    opacity: 51%; 
}

.navigation {
    float: right; 
    margin-top: 15px;  
}

.burger-menu {
    display: none; 
    top: 100px;
    right: 10;
    background: rgba(0, 0, 0, 0.8); 
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0; 
    z-index: 1000; 
}

.burger-menu.show {
    display: block; 
    opacity: 1; 
}

.burger-menu button {
    flex: 1 1 calc(50% - 10px); 
    margin: 5px; 
    box-sizing: border-box; 
}

.ellipse {
    width: 6px;
    height: 6px;
    margin-left: 14px; 
    margin-right: 14px;
}

#Burger {
    display: none;
}

#Burger:active {
    background-color: #0000004F;
    backdrop-filter: blur(9.275362014770508px);
    padding: 2px; 
    border-radius: 2px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    margin-top: 64px;
}

.date {
    font-size: calc(20px + (28 - 20) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 122%;
    color: white; 
    background-color: #0000004F;
    backdrop-filter: blur(9.275362014770508px);
    width: auto;
    height: 55px;
    align-content: center; 
    padding-left: 25px;  
    padding-right: 25px;  
} 

.about h1 {
    font-family: 'Futura PT';
    font-size: calc(40px + (70 - 40) * ((100vw - 375px) / (1280 - 375)));
    width: calc(311px + (819 - 311) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 106%;
    text-align: center;
    color: white; 
    margin-top: calc(32px + (24 - 32) * ((100vw - 375px) / (1280 - 375)));
}

.adress {
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 121%;
    color: white; 
    background-color: #0000004F;
    backdrop-filter: blur(9.275362014770508px);
    width: auto; 
    height: 55px;
    align-content: center; 
    padding-left: 25px;
    padding-right: 25px;  
    margin-top: 34px; 
}

.aboutContainer .entry {
    font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (1280 - 375)));
    line-height: 121%;  
    width: calc(220px + (270 - 220) * ((100vw - 375px) / (1280 - 375)));
    height: calc(50px + (67 - 50) * ((100vw - 375px) / (1280 - 375)));
    margin-top: calc(60px + (65 - 60) * ((100vw - 375px) / (1280 - 375)));
}

.aboutContainer span {
    font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: 121%; 
    text-align: center;
    color: white; 
    margin-top: calc(9px + (17 - 9) * ((100vw - 375px) / (1280 - 375)));
    width: calc(158px + (394 - 158) * ((100vw - 375px) / (1280 - 375)));
}

.digit {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.digits span {
    font-family: 'Futura PT';
    font-size: 70px;
    font-weight: 500;
    line-height: 128%; 
    color: #282828;
} 

.digits p {
    font-size: 30px;
    line-height: 121%;
    color: #1010108F; 
    text-transform: uppercase; 
}

#rectangleMobile {
    display: none; 
}

.details h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 106%;
    text-align: center; 
    width: calc(312px + (727 - 312) * ((100vw - 375px) / (1280 - 375)));
    margin: 0 auto; 

}

.detailsContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto); 
    gap: 25px;   
    margin-top: calc(57px + (100 - 57) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(62px + (118 - 62) * ((100vw - 375px) / (1280 - 375)));
}

.detailsContainer img {
    width: calc(300px + (602 - 300) * ((100vw - 375px) / (1280 - 375)));
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
}

.detailsContainer span {
    font-size: calc(17px + (15 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: 133%;
    text-align: center;
    padding: 22px;  
    border: 2.63px solid;
    border-image: linear-gradient(136.96deg, #EB177E 0%, #893EF9 103.66%) 1;
    background-color: #FFFFFF;   
    border-radius: 17.54px;   
}

.detailsContainer span:first-child {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.detailsContainer span:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.detailsContainer span:last-child {
    grid-column: 1 / 3;
    grid-row: 3 / 4; 
}

.detailsSlider {
    display: none;
}


.swiper {
    width: 582px;
    height: 388px;  
    position: relative;
    overflow: visible; 
  } 

.swiper img {
    width: 100%; 
    height: auto;  
  } 

.custom-button-prev, .custom-button-next {
    background-color: transparent;
    border: none;
    cursor: pointer; 
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
    z-index: 10; 
  }
  
.custom-button-prev {
    left: 10px;
  }
  
.custom-button-next {
    right: 10px;
  }

.benefit {
    background-image: url(./img/background_dekstop.svg);
    background-repeat: no-repeat;
    height: 1225.5px; 
}

.benefit h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    font-weight: 400;
    text-align: center; 
    text-transform: uppercase;
    color: white; 
    padding-top: calc(98px + (211 - 98) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(59px + (111 - 59) * ((100vw - 375px) / (1280 - 375)));
}

.benefitContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto); 
    gap: 81px 36px; 

}

.benefits:last-child {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.benefits {
    color: white; 
    border: 2.63px solid;
    border-image: linear-gradient(136.96deg, #EB177E 0%, #893EF9 103.66%) 1;  
    border-radius: 17.54px;
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 114%;
    text-align: center;
    padding: 55px 47px; 
    position: relative;
} 

#Corner1 {
    width: calc(58px + (100 - 58) * ((100vw - 375px) / (1280 - 375)));
    position: absolute;
    top: -40px;
    left: 200px; 
}

#Corner2 {
    width: calc(68px + (116 - 68) * ((100vw - 375px) / (1280 - 375)));
    position: absolute;
    top: -40px;
    left: 200px; 
}

#Corner3 {
    width: calc(68px + (116 - 68) * ((100vw - 375px) / (1280 - 375)));
    position: absolute;
    top: -40px;
    left: 490px; 
}

.benefits span {
 font-weight: 700; 
}

.benefits p {
    margin-top: calc(27px + (44 - 27) * ((100vw - 375px) / (1280 - 375)));
}

.audience h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    font-weight: 500;
    text-align: center; 
    text-transform: uppercase;
    margin-bottom: calc(35px + (94 - 35) * ((100vw - 375px) / (1280 - 375)));
}

.audienceContainer {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 

}

.audiences {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    text-align: center; 
} 

.audiences img {
    width: calc(85px + (120 - 85) * ((100vw - 375px) / (1280 - 375)));
    align-items: center; 
}

.audiences span {
    font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (1280 - 375)));
    line-height: 114%;
    margin-top: 21px; 

}

.partners {
    background-image: url(./img/atlantis_the_royal.png);
    background-color: rgba(0, 0, 0, 0.5); 
    background-repeat: no-repeat;
    height: 759px;
    color: white; 
    text-align: center; 
}

.partners h2 {
    font-family: 'Futura PT';
    font-size: calc(30px + (50 - 30) * ((100vw - 375px) / (1280 - 375)));
    line-height: 106%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: calc(57px + (105 - 57) * ((100vw - 375px) / (1280 - 375)));
    padding-top: calc(71px + (122 - 71) * ((100vw - 375px) / (1280 - 375)));
}

.partners span {
    font-family: Futura PT;
    font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 106%;
    margin-bottom: calc(33px + (53 - 33) * ((100vw - 375px) / (1280 - 375)));
    display: block; 
}

.partners p {
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 114%;
}

.partersText {
    font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 114%;
    margin-top: 20px; 
}








@media (max-width: 400px) {

    .aboutContainer {
        display: block;
        align-content: center;
        text-align: center;
        align-items: center; 
        margin-top: 45px; 
    }

    .navigation {
        display: none; 
    }

    .aboutContainer span {
        display: block; 
        text-align: center;
        margin-left: 70px; 
    }

    .entry {
        margin-left: 0;
    }

    .about {
        background-image: url(./img/window-business-building-dekstop.png);
        background-size: 100%;   
        background-repeat: no-repeat; 
        width: auto; 
    } 

    .digit {
        flex-direction: column; 
        flex-wrap: nowrap;
        justify-content: center; 
    }

    #rectangleDekstop {
        display: none;
    }

    #rectangleMobile {
        display: inline; 
        margin-top: 40px;
        margin-bottom: 40px; 
    }

    .navigation {
        display: none; 
    }
    
    #Burger {
        display: inline; 
        cursor: pointer;
        float: right; 
    }
    
    .burger-menu {
        display: none; 
    }

    .burger-menu.show {
        display: block; 
        opacity: 1; 
    }

    .detailsContainer {
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .detailsContainer img {
        order: 3;
        margin-top: 15px; 

    }

    .swiper {
        width: 312px;
        height: 200px;  
      } 

      .custom-button-prev, .custom-button-next {
        top: 90%; 
      }

      .custom-button-prev {
        left: 106px;
      }
      
      .custom-button-next {
        right: 106px; 
      }

      .benefitContainer {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        gap: 52px;
    
    }

    .benefit {
        background-image: url(./img/background_mobile.svg);
        background-repeat: no-repeat;
        height: 1130px;  
    }

    .benefits {
        padding: 36px 12px;
    }

    #Corner1, #Corner2, #Corner3 {
        top: -25px;
        left: 110px; 
    }
    .audienceContainer {
        justify-content: center;  
        gap: 36px;
    }

    .partners {
        height: 625px; 
        background-position: 50%; 
    }

}
